---
layout: default
---
<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->

<div class="home">
  <div id = "one-two">
    <p>I am currently Senior Research Engineer II at <a href="https://www.imgtec.com/" target="_blank">Imagination Technologies</a>, UK. I work as part of the Vision and AI research group looking at designing, training, deploying and optimising neural networks for Imagination's <a href="https://www.imgtec.com/vision-ai/powervr-series3nx/" target="_blank">Neural Network Accelerator</a> products.</p>
    <p>Before joining Imagination, I completed my PhD in Computer Science from <a href="https://city.ac.uk" target="\_blank">City, University of London</a> under the supervision of <a href="http://gregslabaugh.net/" target="\_blank">Greg Slabaugh</a>. For my research, I contributed novel probabilistic regression methods to learn hand pose and orientation using uncalibrated colour images. At City, I also worked in close collaboration with my colleagues on a range of medical imaging problems.</p>
    <p>My research interests include probabilistic regression, optimisations for neural networks, fully-convolutional neural networks and neural network compression.</p>
  </div>
  <div id="two-two">
    {% include image.html url="/images/P4020025-CR2.JPG" caption=" " width=260 align="center" %}
  </div>
  <div id = "one-one">
    {% include preview_news.html %}
  </div>
</div>

