---
layout: default
---
<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->

<div class="home">
  <div id = "one-two">
    <p> I am currently a Senior AI/Data Scientist at <a href="https://www.medtronic.com/uk-en/index.html" target="_blank">Medtronic Digital Surgery</a>, UK, and an Honorary Research Fellow at <a href="https://www.qmul.ac.uk/deri/" target="_blank">Digital Environment Research Institute (DERI), Queen Mary University of London</a>, UK. My current research focuses on developing AI methods for minimally invasive surgery (MIS), medical imaging as well as AI-assisted annotation of imaging data.</p>
    <p> My previous appointments include, Senior Research Scientist at <a href="https://gomotive.com/" target="_blank">Motive (remote)</a>, Research Fellow at <a href="https://www.kcl.ac.uk/" target="_blank">King's College London</a>, UK, and Senior Research Engineer II at <a href="https://www.imgtec.com/" target="_blank">Imagination Technologies</a>, UK. I worked in these roles mostly doing research at designing, training, publishing, and optimising AI models. I have also worked on a range of projects in computer vision, machine learning, medical imaging, and neural network compression.</p>
    <p> In 2017, I completed my PhD in Machine Learning (Computer Science) from <a href="https://city.ac.uk" target="\_blank">City, University of London</a> under the supervision of <a href="http://www.eecs.qmul.ac.uk/~gslabaugh/" target="\_blank">Greg Slabaugh</a>. For my research, I contributed novel probabilistic regression methods to learn hand pose and orientation using uncalibrated colour images. </p>
    <p> I hold 11 granted patents and have published 20+ papers in top-tier conferences and journals. I have also served as a reviewer for top-tier conferences and journals in my field. </p>
    <p> My research interests include machine learning, computer vision, medical imaging, neural networks, and probabilistic modelling. </p>
  </div>
  <div id="two-two">
    {% include image.html url="/images/P4020025-CR3.JPG" caption=" " width=260 align="center" %}
  </div>
  <div id = "one-one">
    {% include preview_news.html %}
  </div>
</div>

