<section id="talks" class="cvSection">
<!--    <h2 class="sub-header">Talks</h2>-->
    <ul class="pt-list talk-list">
    {% for year in site.data.talks %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
              {% comment %}
                {% assign sorted_talks = (year.talks | sort: 'date') %}
                {% endcomment %}
                {% for talk in year.talks %}
                <li>
                    <h4>
                        "{{ talk.title }}"
                    </h4>
                    <h5>
                        {% if talk.authors %}
                            {{ talk.authors }}
                        <br />
                        {% endif %}
                        <time>{{ talk.date }}</time>
                        -
                        <a href="{{ talk.event_url}}" >{{ talk.event }}</a>
                    </h5>
                    <p>{{ talk.note }}</p>
                    {% if talk.pdf %}
                        <a class="button" href="{{ talk.pdf }}" target="_blank">PDF</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
